/* Fuentes */
@font-face {
    font-family: 'vivoSansGlobal';
    src: url('../../fonts/vivo Sans/vivoSansGlobal-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'vivoSansGlobal';
    src: url('../../fonts/vivo Sans/vivoSansGlobal-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'vivoSansGlobal';
    src: url('../../fonts/vivo Sans/vivoSansGlobal-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'vivoSansGlobal';
    src: url('../../fonts/vivo Sans/vivoSansGlobal-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

:root {
    --bg-color: #f4eeee;
    /* Palata de colores */
    --morado: #878EF3;
    --rosa: #F479D0;
    --amarillo: #F4E979;
    --blanco: #FFFFFF;
    --negro: #000000;
    --fuente-di: "Source Sans Pro", sans-serif;
    --fuente-vivo: "vivoSansGlobal", sans-serif;
    /* gradiente de transparente a morado */
    --gradiente-transparente-morado: linear-gradient(to bottom, rgba(135, 142, 243, 0) 0%, rgba(135, 142, 243, 1) 100%);
    --gradiente-promocional: linear-gradient(90deg,rgba(244, 121, 208, 0.5) 0%, rgba(135, 142, 243, 1) 100%);
    /* Linear gradient de top --rosa a bottom transparente  */
    --gradiente-mapas: linear-gradient(to bottom, rgba(244, 121, 208, 1) 0%, rgba(244, 121, 208, 0) 100%);
}

body {
    background-color: var(--bg-color);
    font-family: var(--fuente-di);
    position: relative;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header{
    width: 100%;
    display: block;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.20);
    padding: 1rem;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    width: 15%;
}

.header-logo__img{
    width: 100%;
}

.header-list {
    display: block;
    width: 85%;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10rem;
}

.header-nav__item {
    text-align: center;
}

.nav-icon{
    margin: 0 auto;
}

.header-nav__title{
    font-size: clamp(1rem, 2vw, 2.0rem);
    font-weight: bold;
    color: var(--negro);
}
/* Hero */
.hero {
    width: 100%;
    display: block;
    position: relative;
    background-color: var(--morado);
    color: var(--blanco);
    height: 80dvh;
}

.hero-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.capa-17{
    position: relative;
    transform: translate(100%, 687%);
}

/* Descripcion */
.description {
    width: 100%;
    position: relative;
}

.description-content {
    text-align: center;
    padding: 4rem 0;
    line-height: 1.8;
}

.description-text {
    font-size: clamp(1rem, 2.5vw, 2.5rem);
}

.description-logo {
    margin: 1rem auto;
}

/* Guias */
.guias {
    width: 100%;
    position: relative;
}

.guias-content {
    width: 100%;
    display: block;
    position: relative;
}

.guias-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guias-title,
.guias-icon {
    font-size: clamp(1.5rem, 3vw, 3.5rem);
    font-weight: bold;
    color: var(--morado);
}

.guias-line {
    display: block;
    width: 40%;
    margin: 1rem 0;
    height: .2rem;
    background-color: var(--morado);
}

.guias-info {
    display: block;
    width: 100%;
    margin: 2rem 0;
    line-height: 1.5;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    color: var(--negro);
}

/* Guías - grid */
/* .guias-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.div2 {
    grid-column-start: 1;
    grid-row-start: 2;
    border-radius: 25px;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

.div5 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div6 {
    grid-column-start: 4;
    grid-row-start: 2;
} */

/* Promocional */
.promocional{
    display: block;
    width: 100%;
    margin: 5rem auto;
    max-height: 25rem;
}

.promocional-content{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 2rem 0 1rem 2rem;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    border-radius: 0 25px 25px 0;
    background: var(--gradiente-promocional);
}

.promocional-info{
    display: block;
    text-align: center;
    line-height: 1.3;
}

.promocional-text{
    font-size: 2rem;
    font-family: var(--fuente-di);
    font-weight: 100;
    color: var(--negro);
}

.promocional-text__bold{
    font-weight: bold;
    font-family: var(--fuente-vivo);
    font-size: 4rem
}

.promocional-line{
    width: 70%;
    height: 0.3rem;
    background-color: var(--amarillo);
    margin: 1rem auto;
}

.promocional-text__bold--participa{
    font-weight: bold;
    font-family: var(--fuente-vivo);
    font-size: 1.8rem
}

.promocional-qr{
    width: 25rem;
    height: 20rem;
}

.promocional-qr__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promocional-modelo{
    display: block;
    width: 30%;
    height: 24rem;
    position: relative;
}

.promocional-modelo__img{
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* object-fit: cover; */
    right: 0;
    bottom: -2rem;
}

.promocional-text__legal {
    font-size: 1rem;
    color: var(--negro);
    margin-top: 1rem;
    text-wrap: nowrap;
}

/* Videos */
.videos{
    width: 100%;
    height: 360px;
    position: relative;
}

.videos-content{
    width: 100%;
    height: 100%;
    background: var(--gradiente-transparente-morado);
    overflow: hidden;
    border-radius:0 0 15px 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.videos-info{
    display: block;
    width: 25%;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.videos-info__abstract{
    width: 100%;
    display: block;
}

.videos-info__img{
    width: 20rem;
    height: 170px;
    object-fit: cover;
    margin: 0 auto;
}

.videos-info__title{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--negro);
}

.videos-info__icon{
    font-size: 3.5rem;
    text-align: center;
    color: var(--amarillo)
}

.videos__line{
    width: 5px;
    height: 85%;
    background-color: var(--amarillo);
}

.videos__list{
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 1rem 0;
    overflow: hidden;
    position: relative;
}

.videos__item{
    position: relative;
    width: 25rem;
    height: 30rem;
    margin: 0 1rem;
    width: 25rem;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid var(--blanco);
    overflow: hidden;
}

.videos-item__img{
    width: 100%;
    height: 14rem;
    overflow: hidden;
}

.videos__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videos-item__info{
    padding: 1rem;
    display: flex;
}

.videos__title{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: var(--negro);
}

.play-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background-color: #FF0000;
    color: var(--blanco);
}

.videos-abstract__buble{
    position: absolute;
    bottom: -100%;
    right: 0;
    width: 80rem;
    height: 60rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}
.videos-abstract__buble-1{
    position: absolute;
    top: 0;
    left: 25rem;
    width: 3rem;
    height: 3rem;
    background: var(--rosa);
    border-radius: 50%;
}

/* Mapas */
.mapas{
    width: 100%;
    display: block;
    position: relative;
    margin: 5rem auto;
}

.mapas-content{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    background: var(--gradiente-mapas);
    position: relative;
}

.mapas-head{
    width: 90%;
    padding: 3rem 0 3rem 0;
    text-align: center;
    margin: 0 auto;
}

.mapas-title{
    font-size: 4rem;
    font-weight: bold;
    color: var(--blanco);
}

.mapas-head__line{
    width: 100%;
    height: 0.3rem;
    background-color: var(--blanco);
    margin: 1rem auto;
}

.mapas-ciudades{
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5rem;
    position: relative;
}

.mapas-ciudad{
    display: block;
    width: 20%;
    height: 20rem;
    position: relative;
}

.mapas-ciudad__img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 1px solid var(--blanco);
    object-fit: cover;
    object-position: center;
}

.mapas-ciudad__img--cdmx {
    object-position: center top;
}

.mapas-ciudad__img--mty {
    object-position: center center;
}

.mapas-ciudad__img--gdl {
    object-position: 30% 50%;
}

.mapas-ciudad__title{
    font-size: 3rem;
    font-weight: bold;
    color: var(--blanco);
    text-align: center;
}

.ciudad-description{
    width: 100%;
    display: block;
    position: relative;
    padding: 3rem 0;
}

.ciudad-description{
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: clamp(1rem, 2.5vw, 3rem);
    color: var(--blanco);
    text-align: center;
}

.ciudad-categorias{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.ciudad-categorias__item{
    border: 2px solid var(--blanco);
    width: 20rem;
    padding: 2rem 0;
    font-size: 2rem;
    border-radius: 25px;
}

.categoria-active{
    background-color: #878ef347;
}
.ciudad-categorias__icon{
    margin: 0 auto;
}